ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding-top: 1em;
    padding-bottom: 1em;
}

.dashboard {
    padding-top: 2em;
}

.stat-card {
    margin-bottom: 1em;
}

.graph-card {
    /* background-color: #e9f1f7; */
    padding: 1em;
}

